@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --border: 226 232 240;
  }
  
  .bg-background {
    background-color: rgb(var(--background));
  }
  
  .text-foreground {
    color: rgb(var(--foreground));
  }
  
  .bg-card {
    background-color: rgb(var(--card));
  }
  
  .text-card-foreground {
    color: rgb(var(--card-foreground));
  }
  
  .border-border {
    border-color: rgb(var(--border));
  }
}